---
layout: default
title: Search Password Managers
---
{% assign pwm_file = site.data.password_managers %}

<h4 class="ui horizontal divider header"></h4>
<div class="ui center aligned container">
  <h1 class="ui icon header">
  <i class="search icon"></i>
   <div class="content">
     Search Password Managers
     <div class="sub header">Search the database of password managers to see legacy functionality</div>
    </div>  
  </h1>
</div>

<div class="ui center aligned container">
  <div class="ui icon input">
      <input type="search" id="jetsSearch" placeholder="Start typing...">
      <i class="search icon"></i>
  </div>
</div>

<h4 class="ui horizontal divider header">Results</h4>
<div class="ui main text container">
  <div class="ui relaxed celled list" id="jetsContent">
    {% for item in pwm_file %}
      <div class="ui segments">
        <div class="center aligned ui segment">
          <h1 class="ui header" >{{ item.name }}</h1>          
            {% if item.emergency-contact.supported == "Yes" %}
            <div class="ui label green ">Emergency Contact</div>
            {% endif %}

            {% if item.emergency-kit.supported == "Yes" %}
            <div class="ui label blue">Emergency Kit</div>
            {% endif %}

            {% if item.password-sharing.supported == "Yes" %}
            <div class="ui label yellow">Password Sharing</div>
            {% endif %}
        </div>
        
        <div class="ui segment"><div class="ui header">Overview</div>          
          <div class="list">
            <div class="item">Website: <a href={{ item.url }}>{{ item.url }}</a></div>        
            <div class="item">Emergency contact functionality: {{ item.emergency-contact.supported  }}</div>                
            <div class="item">Emergency kit functionality: {{ item.emergency-kit.supported }} </div>
            <div class="item">Password sharing functionality: {{ item.password-sharing.supported }} </div>              
          </div>
        </div>     
        
        {% if item.emergency-contact.supported == "Yes" %}
          <div class="ui segment"><div class="ui header" style="display: inline">Emergency Contact Functionality</div>          
            <div class="list">              
              <div class="item">Mechanism: {{ item.emergency-contact.mechanism  }}</div>
              <div class="item">Granularity: {{ item.emergency-contact.granularity  }}</div>
              <div class="item">Number of contacts possible: {{ item.emergency-contact.number-of-contacts  }}</div>
              <div class="item">Types of accounts that can give access: {{ item.emergency-contact.account-required-to-give  }}</div>
              <div class="item">Types of accounts that can receive access: {{ item.emergency-contact.account-required-to-receive  }}</div>
              <div class="item">
                <a target="_blank" href= {{ item.emergency-contact.documentation }} class="ui green button">
                <i class="file outline icon"></i>
                Emergency Contact Documentation
                </a>
              </div>
            </div>
          </div>
        {% endif %}

        {% if item.emergency-kit.supported == "Yes" or item.emergency-kit.supported == "Partial" %}
          <div class="ui segment"><div class="ui header">Emergency Kit Functionality</div>
            <div class="list">
              <div class="item">Contents of the emergency kit: </div>
              <ul>
                {% for content in item.emergency-kit.contents %}
                  <li>{{ content }}</li>
                {% endfor %}
              </ul>
              <div class="item"><a target="_blank" href= {{ item.emergency-kit.documentation }} class="ui blue button"><i class="file outline icon"></i>Emergency Kit Documentation</a></div>

            </div>
          </div>
        {% endif %}

        {% if item.password-sharing.supported == "Yes" or item.password-sharing.supported == "Partial" %}
          <div class="ui segment"><div class="ui header">Password Sharing Functionality</div>
            <div class="list">
              <div class="item">Types of accounts that can share items: {{ item.password-sharing.shared-items  }}</div>
              <div class="item">Types of accounts that can share folders: {{ item.password-sharing.shared-folders  }}</div>
              <div class="item">
                <a target="_blank" href= {{ item.password-sharing.documentation }} class="ui yellow button">
                  <i class="file outline icon"></i>
                  Password Sharing Documentation
                </a>
              </div>
            </div>
          </div>
        {% endif %}

        <div class="ui segment"><div class="ui header">Export formats</div>
          <ul>
          {% for format in item.export-format %}
            <li>{{ format }}</li>
          {% endfor %}
          </ul>
        </div>

        <div class="ui segment"><div class="ui header">Notes</div>
          <ul>
          {% for note in item.notes %}
            <li>{{ note }}</li>
          {% endfor %}
          </ul>
        </div>
      </div>
    {% endfor %}
  </div>  
</div>

<script>
var jets = new Jets({
    searchTag: '#jetsSearch',
    contentTag: '#jetsContent'
  });
</script>