.ui.table thead tr:first-child > th {
  position: sticky !important;
  top: 0;
  z-index: 2;
}

.whatsthis {
  font-size: 0.8em;
  display: inline;
}

.wrap {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: auto;
}

main {
  flex: 1;
  display: flex;
}

footer {
  text-align: center;  
  margin-top: 20px;
  border-top: 1px black;
}

.copyright {
  background-color: white;
  margin-top: 20px;
}